@charset "utf-8";

/* If Width larger than 1366px */
@media only screen and (min-width: 1367px) {
    .logo img {
        position: absolute;
        width: 360px;
        height: auto;
        margin: -14px 0 0 -14px;
    }
    .header .nav {
      text-align: center;
    }
}
/* If Width smaller than 1366px */
@media only screen and (max-width: 1366px) {
    .logo img {
      width: auto;
      height: 80px;
      float: left;
      padding: 0 1em 0 2em;
    }
}
/* If Width smaller than 768px */
@media only screen and (max-width: 768px) {
    .logo img {
      width: auto;
      height: auto;
      margin: 0 auto;
      padding: 0 1em 1em 1em;
    }
}
/* If Width smaller than 480px */
@media only screen and (max-width: 480px) {
    .header {
      text-align: center;
    }
    .logo img {
      width: 100%;
      height: auto;
      padding: 0 1em 1em 1em;
    }
}

/* If Height Larger than 480px */
@media only screen and (min-height: 480px) {
    .featherlight .featherlight-content {
      overflow: hidden !important; /* scrollbar fix */
    }
}
/* If Width smaller than 480px */
@media only screen and (max-width: 480px) {
    .share {
      display: block !important;
      margin: 0 0 1em 0;
    }
}
/* If Height smaller than 720px */
@media only screen and (max-height: 720px) {
    .share {
      display: block !important;
      margin: 0 0 1em 0;
    }
}
/* If Height smaller than 480px */
@media only screen and (max-height: 480px) {
    .featherlight .featherlight-content {
      overflow: scroll !important; /* scrollbar fix */
    }
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'La Belle Aurore', cursive;
}
body {
  display: flex;
  flex-direction: column;
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
  background-position: center top;
}
img {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
/* Header */
.header {
  background: white;
}
.header .container {
  padding: 1.3em !important; /* override */
}
/* Logo */
.logo a {
  z-index: 500;
  border: 0;
  margin: 0;
  padding: 0;
}
.header-title {
  display: block;
  font-size: 1.4em;
  font-family: 'La Belle Aurore', cursive;
  padding: 0 1em 0 0;
}
/* Navigation */
.header .nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Lustria', serif;
  font-size: 1.2em;
}
.header .nav li {
  display: inline-block;
}
.header .nav li a {
  padding: 1em;
  text-decoration: none;
  
}
.header .nav li a:hover {
  
}
.header .nav-title {
  display: block;
  padding: 1em;
}

.flex {
  display: flex;
  position: relative;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}
.content {

}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1560px;
  padding: 2em;
}

/* Masonry */
/* Transitions */
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* Gallery */
.gallery {
  z-index: 1000;
  margin: 0 auto 2em auto;
  text-align: center;
}
#loading-gallery {
  font-size: 1.6em;
  font-family: 'Lustria', serif;
}
.gallery .grid-item {
  margin: 1em;
  padding: 1.5em;
  background: white;
/*outline: 1px solid rgba(51,122,183,0);*/
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.gallery .grid-item:hover {
   /*outline: 1px solid rgba(51,122,183,0.7);*/

  -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
}
.gallery .grid-item a {

}
.gallery .thumb {
  width: 220px;
  height: auto;
}

/* Featherlight */
.featherlight img {
  min-width: 240px;
  max-width: 100%;
  max-height:75vh;
}  
.gallery-modal { 
  /* Hide Modal Popup */
  display: none;
}
.info {
    padding: 1.4em 0 0.5em 0;
    text-align: center;
}
.title {
  display: block;
  padding: 0 0 0.7em 0;
  text-align: center;
  font-size: 1.6em;
  line-height: 1em;
  vertical-align: middle;
}
.share {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
/* Clipboard.js */
.clipboard-title {
    display: inline-block;
    width: 45px;
    height: 32px;
    text-align: center;
    font-size: 13px;
    color: #ddd;
    background: #aaa;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    vertical-align: top;
    padding: 6px 0 0 0;
    cursor:default;
}
input.clipboard-link {
    display: inline-block;
    width: 180px;
    height: 30px;
    margin: 0 -10px 0 0.5em;
    padding: 0 0 0 0.5em;
    font-size: 13px;
    color: #000;
    background-color: #fff;
    border-top: 1px solid #aaa;
    border-right: 0;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    outline: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.clippy {
    margin-top: -3px;
    position: relative;
    top: 0px;
}
img.clippy {
    border: 0;
    min-width: 15px !important;
    height: 15px !important;
    margin: 0 auto;
}

.btn-copy {
    display: inline-block;
    height: 30px;
    width: 36px;
    vertical-align: top;
    color: #000;
    white-space: nowrap;
    text-align: center;
    touch-action: manipulation;
    background-image: none;
    background-color: #fff;
    border: 1px solid #aaa;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-copy img {
  width: 15px !important;
  height: 15px !important;
}

/* Footer */
.footer {
  z-index: 100;
  position: relative;
  flex: 1;
  background: white;
}     
.copyright {
  font-size: 1.2em;
}
.copyright a {
  color: black;
}
.footer-share {
  float: right;
}