@charset "utf-8";

html {
  font-size: 15px;
}
html, body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'La Belle Aurore', cursive;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
  background-position: center top;
}

img {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
/* Header */
#layout-header {
  position: relative;
  margin-bottom: 1.5em;
  padding: 1.2em 0;
  background: #fff;
}
/* If Width Smaller or Equal to 991px */
@media only screen and (max-width: 991px) {
  #layout-header {
    padding: 1.2em 0 2.2em 0;
  }
}

.header-title {
  display: block;
  font-size: 1.4em;
  font-family: 'La Belle Aurore', cursive;
  padding: 0 1em 0 0;
}

/* Logo */
.logo {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  margin: -0.7em 0 0 0;
}
.logo img {
  width: 360px;
  height: auto;
}
.logo a {
  border: 0;
  margin: 0;
  padding: 0;
}
/* If Width Smaller than or Equal to 414px */
@media only screen and (max-width: 414px) {
    .logo img {
      width: 100%;
      height: auto;
      padding: 0 1em 1em 1em;
    }
}

/* Navigation */
/* If Width Smaller or Equal to 991px */
@media only screen and (max-width: 991px) {
  .navbar {
    justify-content: right;
  }
}
.navbar-toggler {
  z-index: 999;
  color: rgba(0,0,0,0.8);
  border-color: rgba(0,0,0,.1);
}
@media only screen and (max-width: 414px) {
  .navbar-toggler {
      margin-top: 4em;
  }
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Lustria', serif;
}
/* If Width Larger than 1366px */
@media only screen and (min-width: 1367px) {
  .navbar-nav {
      justify-content: center;
  }
}
/* If Width Smaller or Equal to 1366px */
@media only screen and (max-width: 1366px) {
  .navbar-nav {
      justify-content: right;
  }
}
/* If Width Smaller or Equal to 800px */
@media only screen and (max-width: 800px) {
  .navbar-nav {
      margin-top: 1.5em;
  }
}
/* If Width Smaller or Equal to 414px */
@media only screen and (max-width: 414px) {
  .navbar-nav {
      margin-top: 1em;
  }
}

.nav-item {
  padding: 0.8em 1.2em 0.3em 1.2em;
}
.nav-link {
  padding: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* Container */
/* If Width Larger than 1366px */
@media only screen and (min-width: 1367px) {
  .container-fluid {
    max-width: 1600px;
  }
}

/* Masonry */
/* Transitions */
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* Gallery */
.gallery {
  z-index: 1000;
  margin: 0 auto 2em auto;
  text-align: center;
}
#loading-gallery {
  font-size: 1.6em;
  font-family: 'Lustria', serif;
}
.gallery .grid-item {
  margin: 1em;
  padding: 1.5em;
  background: white;
/*outline: 1px solid rgba(51,122,183,0);*/
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.gallery .grid-item:hover {
   /*outline: 1px solid rgba(51,122,183,0.7);*/
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
}
.gallery .grid-item a {

}
.gallery .thumb {
  width: 220px;
  height: auto;
}

/* Featherlight */
.featherlight img {
  min-width: 240px;
  max-width: 100%;
  max-height:75vh;
}
/* If Height Larger than 480px */
@media only screen and (min-height: 480px) {
    .featherlight .featherlight-content {
      overflow: hidden !important; /* scrollbar fix */
    }
}

/* If Height Smaller than 480px */
@media only screen and (max-height: 480px) {
    .featherlight .featherlight-content {
      overflow: scroll !important; /* scrollbar fix */
    }
}

.gallery-modal {
  /* Hide Modal Popup */
  display: none;
}
.info {
    padding: 1.4em 0 0.5em 0;
    text-align: center;
}
.title {
  display: block;
  padding: 0 0 0.7em 0;
  text-align: center;
  font-size: 1.6em;
  line-height: 1em;
  vertical-align: middle;
}
.share {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
/* If Height Smaller than 720px */
@media only screen and (max-height: 720px) {
    .share {
      display: block !important;
      margin: 0 0 1em 0;
    }
}
/* If Width Smaller than 480px */
@media only screen and (max-width: 480px) {
    .share {
      display: block !important;
      margin: 0 0 1em 0;
    }
}

/* Clipboard.js */
.clipboard-title {
    display: inline-block;
    width: 45px;
    height: 32px;
    text-align: center;
    font-size: 13px;
    color: #ddd;
    background: #aaa;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    vertical-align: top;
    padding: 6px 0 0 0;
    cursor:default;
}
input.clipboard-link {
    display: inline-block;
    width: 180px;
    height: 30px;
    margin: 0 -10px 0 0.5em;
    padding: 0 0 0 0.5em;
    font-size: 13px;
    color: #000;
    background-color: #fff;
    border-top: 1px solid #aaa;
    border-right: 0;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    outline: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.clippy {
    margin-top: -3px;
    position: relative;
    top: 0px;
}
img.clippy {
    border: 0;
    min-width: 15px !important;
    height: 15px !important;
    margin: 0 auto;
}

.btn-copy {
    display: inline-block;
    height: 30px;
    width: 36px;
    vertical-align: top;
    color: #000;
    white-space: nowrap;
    text-align: center;
    touch-action: manipulation;
    background-image: none;
    background-color: #fff;
    border: 1px solid #aaa;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-copy img {
  width: 15px !important;
  height: 15px !important;
}

/* Footer */
#layout-footer {
  flex: 1 auto;
  position: relative;
  padding: 1.5em 0 2em 0;
  background: #fff;
}

.copyright {
  font-size: 1.2em;
}
.copyright a {
  color: black;
}

.footer-share {
  float: right;
}
